p {
    color: navy;
}

.hide {
    color:grey;
}
.bold {
    font-weight: bold;
    color:black;
}
.TextPlay {
    display: block;
    margin-top: 5em;
    margin-bottom: 5em;
    margin-left: 10em;
    margin-right: 10em;
}